# Python virtual environments
.venv/

# Python dependencies installed locally (Windows)
Lib/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# macOS and Windows system files
.DS_Store
Thumbs.db
